PORT=3000
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/chat-app?retryWrites=true&w=majority
SECRET_KEY=cambia-esta-clave-en-produccion
CLIENT_URL=http://localhost:5173,https://tu-frontend.vercel.app

CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@da4q9jiqr
CLOUDINARY_FOLDER=chat-app

GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant

HF_API_TOKEN=
HF_IMAGE_MODEL=stabilityai/stable-diffusion-xl-base-1.0
